body {
  background-color: #f0f2f5;
}

.App {
  width: 50%;
  height: 100%;
  margin:auto;
  display: grid;
}

.react-tooltip {
  background-color: #161616!important;
  border-radius: 2px !important;
  color: #fff !important;
  font-size: 12px !important;
  padding: 12px 16px !important;
}

.emoji-count {
  cursor: pointer;
  font-size: 15px;
  padding-left: 8px;
}

